@import "colors";

.home {
  [class*="col-"] {

    p {
      font-size: 20px;
      color: #d2caba;
      font-family: Times New Roman, serif;
    }
  }
  img {
    margin: 10px;
    filter: brightness(1.5) grayscale(40%);
    padding: 15px;
    &.img-circle {
      border-top: 1px dashed $signatures-color;
      border-bottom: 1px dashed $signatures-color;
    }
  }
  .home-text {
      background-size: 100% auto;
      padding: 2em;
      min-height: 120vh;
  }

  .list-group {
    clear: both;
    margin-top: 4em;
  }
  .list-group-item {
    background: inherit;
    font-family: Times New Roman, serif;
    font-size: 15px;
//    background: rgba(20,20, 20, 0.6);
    border: rgba(20,20, 20, 1);
    a {
      color: $a-light-color;
      .glyphicon {
        color: $red-color;
        font-size: 30px;
        position: relative;
        top: 10px;
        padding-right: 20px;
        margin-bottom: .5em;
      }
    }
  }
  h2{
  	color: $a-light-color;
  	width: 60%;
  	line-height: 1.4em;
  	float:left;
  	text-align: center;
    font-family: 'Berkshire Swash', cursive;
	padding: 20px;
  }
  h1 {
    font-family: 'Berkshire Swash', cursive;
    color: lightsteelblue;
    font-size: 100px;
  }
}

